@import '../commons/styles/variables';

$sideMenuWidth: 260px;
$topMenuHeight: 40px;




.app-top-menu{
    border-bottom:1px solid $appTopMenu-border-color;
    height:$topMenuHeight;
    background:$appTopMenu-background-color;
  
}
.app-wrapper{

    //display: flex;
    width:100%;
    position:relative;


    .app-main-container{
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;

        width:calc(100% - #{$sideMenuWidth});
        min-height:400px;
        overflow: hidden;


        min-height:calc(100% - #{$topMenuHeight + 1} );

       background: $appMainContainer-background-color;
       padding-bottom:50px;
      
    }


    .app-side-menu{ 
        position: absolute;
        right:0px;
        top:0px;
        box-sizing: border-box;
        padding:0px 10px; 
  

        background: $appSideMenu-background-color;   
  
        height:100%;
 
        display: inline-block;
        vertical-align: top;
        width:$sideMenuWidth;
        border-left:1px solid $appSideMenu-border-color;
    }
}